mixin video(info)
    div.video_profile_contents
        div.video_profile_thumnail
            a(href=`/videos/${info.id}`)
                img(
                    src="/" + info.thumbUrl
                    width="300"
                    height="180"
                    )
        div.video_profile_metadata
            div.video_profile_infoContainer
                h3#video_profile_title
                    a(href=`/videos/${info.id}`)=info.title
                small#video_profile_views 조회수 #{info.meta.views}회
        