mixin video(info)
    div.video_contents
        div.video_thumb_container
            a(href=`/videos/${info.id}`)
                img(src=info.thumbUrl)
        div.video_metadata
            div.video_profileContainer
                a(href=`/users/${info.owner._id}`)
                    img(src=info.owner.avatarUrl ? info.owner.avatarUrl : "https://i.stack.imgur.com/l60Hf.png"
                        width="35", 
                        height="35"
                        )#profile_url
            div.video_infoContainer
                h3#video_title
                    a(href=`/videos/${info.id}`)=info.title
                a(href=`/users/${info.owner._id}`)#video_creator=info.owner.username  
                small#video_views 조회수 #{info.meta.views}회
        