mixin watchVideo(info)
    a(href=`/videos/${info.id}`).video_watch_contents
        div.video_thumnail
            img(
                src=info.thumbUrl
                width="168"
                height="94" 
               )
        div.video_watch_metadata
            div.video_watch_title
                small=info.title
            div.video_watch_infoContainer
                div.name      
                    small#video_creator=info.owner.username
                div.views_createdAt
                    small#video_views 조회수 #{info.meta.views}회
                    small •
                    small=info.createdAt
        