mixin watchVideo(info)
    a(href=`/videos/${info.id}`).video_watch_contents
        div.video_thumnail
            img(
                src="https://images.unsplash.com/photo-1561336313-0bd5e0b27ec8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"
                width="168"
                height="94" 
               )
        div.video_watch_metadata
            div.video_watch_title
                small=info.title
            div.video_watch_infoContainer
                div.name      
                    small#video_creator=info.owner.name
                div.views_createdAt
                    small#video_views 조회수 #{info.meta.views}회
                    small •
                    small=info.createdAt
        