extends templates/base

block content
    div.edit_form_container
        form(method="post" enctype="multipart/form-data")
            h4 영상 업데이트
            label(for="thumb")
                i.far.fa-image 
                span 썸네일 변경
            input(
                name="thumb" 
                id="thumb" 
                type="file" 
                accept="image/*"
                ).fileUpdate
            input(
                name="title" 
                type="text" 
                value=video.title 
                placeholder="제목" 
                required
                )
            input(
                name="description" 
                type="text" 
                value=video.description 
                placeholder="설명"
                )
            input(
                name="hashtags" 
                type="text" 
                value=video.hashtags.join() 
                placeholder="해쉬 태그"
                )
            button(type="submit") 변경하기
