extends templates/base

block content
    h4 Update Video
    form(method="post")
        input(
            name="title" 
            type="text" 
            value=video.title 
            placeholder="Update your video title" 
            required
            )
        input(
            name="description" 
            type="text" 
            value=video.description 
            placeholder="Update your video description"
            )
        input(
            name="hashtags" 
            type="text" 
            value=video.hashtags.join() 
            placeholder="Update your video hashtags"
            )
        button(type="submit") Update
