extends templates/base

block content
    div.upload_sction
        div.title_container
            h1 채널 콘텐츠
        div.upload_container
            h2 영상 업로드
            div.bottom_box
                div.video_preview
                    if errorMessage
                        span=errorMessage
                    h1#videoMessage
                    video(id="videoPreview" controls)
                div.form_container
                    form(method="post" enctype="multipart/form-data")
                        label(for="video")
                            i.far.fa-file-video 
                            span 영상 첨부
                        input(
                            name="video" 
                            id="video" 
                            type="file" 
                            accept="video/*"
                            required
                            ).fileUpload
                        label(for="thumb")
                            i.far.fa-image 
                            span 썸네일 첨부
                        input(
                            name="thumb" 
                            id="thumb" 
                            type="file" 
                            accept="image/*"
                            required
                            ).fileUpload
                        input(
                            name="title" 
                            type="text" 
                            placeholder="제목" 
                            maxlength=80
                            required
                            ) 
                        input(
                            name="description" 
                            type="text" 
                            placeholder="설명" 
                            maxlength=1000
                            required
                            ) 
                        input(
                            name="hashtags" 
                            type="text" 
                            placeholder="해쉬 태그" 
                            )
                        button(type="submit").far.fa-caret-square-up


block scripts
    script(src="/assets/js/videoUpload.js")
    script(src="/assets/js/modal.js")