extends templates/base

block content
    if errorMessage
        span=errorMessage
    form(method="post")
        //- input(name="file" type="file" accept="video/*")
        input(
            name="title" 
            type="text" 
            placeholder="Video Title" 
            maxlength=80
            required
            ) 
        input(
            name="description" 
            type="text" 
            placeholder="Description" 
            maxlength=1000
            required
            ) 
        input(
            name="hashtags" 
            type="text" 
            placeholder="Hashtags" 
            required
            )
        button(type="submit") Upload 
    
    span enctype input needed