extends templates/base

block content
    div
        p=video.title
        small=video.createdAt
        p=video.meta.views
    div
        p=video.description
        small=video.hashtags
    hr    
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/remove`) Remove Video &rarr;