extends templates/base
include ./mixins/watchVideo

block content
    div.watch_page_whole_body
        div.watch_body
            div.watch_section
                div.video_container(data-id=video._id)
                    video(src=video.fileUrl)
                    div.video_controls
                        div.video_timeline
                            input(type="range" id="timeLine" min="0" step="1" value=0)
                        div.video_button_box
                            div.play_container
                                button#play_btn
                                    i#play_icon.fas.fa-play
                            div.mute_container
                                button#mute_btn
                                    i#mute_icon.fas.fa-volume-mute
                            div.volume_range_box
                                input(type="range" id="volumeRange" min="0" max="1" step="0.01" value=0.3)
                            div.time_flow
                                div.seconds_box
                                    span#currentTime 00:00
                                span#timeSeparator  /
                                div.totalTime_box 
                                    span#totalTime 00:00
                            div.fullscreen_container
                                button#fullscreen_btn
                                    i#fullscreen_icon.fas.fa-expand
        div.bottom_section
            div.bottom_left
                div.video_info
                    small#hashtags=video.hashtags
                    small#title=video.title
                    div
                        small#views 조회수 #{video.meta.views}회
                        small#date •#{video.createdAt}
                    div.creator_section
                        div.creator_info
                            div.creator_avatar
                                img(src=video.owner.avatarUrl ? video.owner.avatarUrl : "https://i.stack.imgur.com/l60Hf.png"
                                    width="45" 
                                    height="45")
                            div.creator_username_description
                                div.creator_username
                                    a(href=`/users/${video.owner._id}`)=video.owner.username
                                div.creator_description
                                    p=video.description
                        if String(video.owner._id) === String(loggedInUser._id)
                            div.creator_video_edit
                                a(href=`${video.id}/edit`)#edit_btn 변경
                                a(href=`${video.id}/remove`)#remove_btn 삭제
                div.comment_body
                    if loggedIn
                        div.video_add-comments(data-id=loggedInUser.avatarUrl data-user=loggedInUser.username)
                            img(src=loggedInUser.avatarUrl ? loggedInUser.avatarUrl : "https://i.stack.imgur.com/l60Hf.png"
                                width="40" 
                                height="40"
                                )
                            form.video_comment-form#commentForm
                                input(id="comment" type="text" placeholder="공개 댓글 추가...(maxlength 100!!)" maxlength="60") 
                                button#btn 댓글
                    else 
                        div.video_signin_request
                            h2 댓글로 소통하세요!
                            a(href="/signin") 로그인
                    div.video_comments
                        each comment in video.comments.reverse()
                            div.comment_container(id=comment._id data-id=comment._id)
                                div.comment_left
                                    img(src=comment.ownerAvatarUrl ? comment.ownerAvatarUrl : "https://i.stack.imgur.com/l60Hf.png"
                                        width="40" height="40")
                                div.comment_right
                                    div.comment_name_date
                                        small#ownername=comment.ownerName
                                        small#ownerdate=comment.createdAt
                                    div.comment_text
                                        small(id="ownertext" data-id=comment._id)=comment.text
                                    div.comment_icon_box
                                        i(class="far fa-thumbs-up" id="likeBtn" data-id=comment._id)
                                        small(class="likeCount" id=`like_${comment._id}`)=comment.likes.length
                                        i(class="far fa-thumbs-down" id="dislikeBtn" data-id=comment._id)
                                        small(class="dislikeCount" id=`dislike_${comment._id}`)=comment.dislikes.length
                                        i.far.fa-comment
                                        if String(comment.owner) === String(loggedInUser._id)
                                            i(
                                              class="far fa-trash-alt" 
                                              id="deleteBtn" 
                                              data-id=comment._id 
                                            )
            div.bottom_right
                each info in videos 
                    +watchVideo(info)
                else  
                    span Sorry Nothing Found

block scripts 
    script(src="/assets/js/videoPlayer.js")
    script(src="/assets/js/modal.js")
    if loggedInUser
        script(src="/assets/js/commentSection.js")