extends templates/base

block content
    div#videoContainer(data-id=video._id)
        video(src="/"+video.fileUrl)
        div#videoControls
            button#play Play
            div
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            input(type="range" id="volumeRange" min="0" max="1" step="0.01" value=0.3)
            button#mute Mute
            button#fullscreen Fullscreen
            div
                input(type="range" id="timeLine" min="0" step="1" value=0)
    div
        p=video.title
        small=video.createdAt
        small #{video.meta.views}회
    div
        img(src="/" + video.owner.avatarUrl width="40" height="40")
        a(href=`/users/${video.owner._id}`)=video.owner.name
    p=video.description
    small=video.hashtags
    if String(video.owner._id) === String(loggedInUser._id)
        hr    
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/remove`) Remove Video &rarr;


block scripts 
    script(src="/assets/js/videoPlayer.js")